.bars-wrap{
  width: 21px;
  height: 18px;
  display: block;
  position: relative;
  background-color: transparent;
  border: transparent;
  &::before,&::after{ 
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    left: 0;
    background-color: #000000;
  }
  &::before{
    top: 0;
  }&::after{ 
    bottom: 0;
  }
  span{
    display: block;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    height: 2px;
    width: 100%;
    background-color: #000000;
    left: 0;  
  }
}
.logo-wrap{
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500; 
  color: #000000; 
  display: inline-block; 
  @media #{$md_device}{
    font-weight: bold;
    display: block; 
  }
}
.search-wrap{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  input{
    width: 100%;
    border: transparent;
    background-color: #F2F4F5; 
    padding:10px 20px 10px 50px;  
    @media #{$md_device}{
      background-color: #F2FFEB;
    }
  }
  .btn-search{
    position: absolute;
    height: 100%;
    top: 0;
    left: 12px; 
    background-color: transparent;
    border: transparent;
    color: #000;
    @media #{$md_device}{
      color:#419A1F;
    }

  }
}

.navbar-nav{
  .nav-link{
    .lg-icon{
      font-size: 45px; 
    }
  }
}
.sidenav-wrapper{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto; 
  width: 400px; 
  background-color: #F8F9FA; 
  padding: 30px; 
  @media #{$xl_device}{
    width: 350px;
  }
  .content-wrap{
    height: 100%; 
  }
  h3{
    font-size: 24px;line-height: 36px;margin-bottom: 35px;
  }
  @media #{$lg_device}{
    display: none; 
  }
}
.list-group{
  padding: 0;
  margin: 0;
  list-style: none; 
  .list-item{
    margin-bottom: 30px; 
    h6{
      font-weight: normal; 
    }
  }
}
.main-root,.header-area{
  padding-right: 400px; 
  @media #{$xl_device}{
    padding-right: 350px; 
  }
  @media #{$lg_device}{
    padding-right: 0; 
  }
}